<?php
declare(strict_types=1);

return PhpCsFixer\Config::create()
    ->setUsingCache(false)
    ->setRules([
        '@PSR2' => true,
        'concat_space' => [
            'spacing' => 'one'
        ],
        'declare_equal_normalize' => [
            'space' => 'single'
        ]
    ])
    ->setFinder(
        PhpCsFixer\Finder::create()
            ->in(__DIR__ . '/src')
            ->in(__DIR__ . '/test')
    );